{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= {% static 'css/style.css'%}>
    <title>Document</title>
</head>
<body>
     <form method="POST" novalidate>
        {% csrf_token %}
        <div class="wrapper">
            <div class="title">Вход
                <div class="subtitle"> Войдите в учётную запись</div>
            </div>
                 <div>
                     {% for field in form %}
                <div class="row">
                    {{ field.label_tag }}
                    <div>{{ field }}</div>
                    {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                </div>
                <input type="submit" value="Войти" class="button">
            </div>
    </form>
</body>
</html>